<head>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
<title><%= title %></title>
</head>
<table>
<% notes.forEach(function(note) { %>
    <tr><td>
        <p><%= new Date(note.ts).toString() %>:
            by <b><%= note.author %></b></p>
        <p><%= note.note %></p>
    </td>
    <td>
        <form method='GET' action='/del'>
            <input type='submit' value='Delete' />
            <input type='hidden' name='id' value='<%= note._id %>'>
        </form>
    <br/>
        <form method='GET' action='/edit'>
            <input type='submit' value='Edit' />
            <input type='hidden' name='id' value='<%= note._id %>'>
        </form>
    </td></tr>
<% }); %>
</table>
